@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900,300,400italic,700,700italic);

/*.wrapper {
	width: 100%;
	border: 1px red solid;
}*/
body {
	background-color: white;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

header {
	/*background-color: #ffb7cf;*/
	/*border: 1px black solid;*/
	padding: 40px 0px 25px 100px;
	
}

.logo {
	width: 400px;
	/*border: 1px black solid;*/
	/*margin: auto;*/
	padding-top: 8px;
}

nav {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 2.5em;
	list-style-type: none;
	letter-spacing: 3px; 
	float: right;
	padding-right: 80px;
}

a {
	text-decoration: none;
	display: block;
	display: inline-block;
	padding: 60px;
}

nav {
	
	
}

li:hover {
	background-color: #aaaaaa;
}

#cta {
	border: 1px black solid;
	padding: 35px 60px 30px 60px;
}


/*#intro {
    position: relative;
    background: url(/assets/hero.jpg);
    width: 100%;
    border: 1px black solid;
    text-align: right;
}*/

#intro {
	position: relative;
}

.outer {
	background: url(../assets/hero.jpg);
    background-size: cover;
    padding:150px 10%;
    /*background-repeat: no-repeat;
    background-position: static;*/
    /*clear: both;*/
    /*padding: 5%;*/
    /*height: 85vh;*/
   /* margin: 0;
    padding: 0;*/
    border: 1px black solid;
}

#hero-img{
  	width: 100%; 	
}

.primary {
    /*position: absolute;
    top: 25%;
    left: 150px;
    clear: both;
    display: block;*/
    width: 45%;
    float:left;
  	font-family: 'Roboto', sans-serif;
  	font-weight: 100;
  	font-size: 8em;
  	border: 1px black solid;
    color: #fff;
}

p {
	font-family: 'Roboto', sans-serif;
  	font-weight: 100;
  	font-size: .5em;
  	line-height: 150%;


}

/*#secondary {
	display: block;
}*/

#proto {
	/*position: absolute;
	top: 15%;
	right: 150px; */
	width: 45%;
	float:right;
	/*background-color: black;*/
	border: 1px black solid;
	
}