@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,500,700,200);
* { margin:0; padding:0; box-sizing:border-box; }

body {
/*	background-color: white;*/
}


header {
  /*border: 1px black solid;*/
	/*padding: 10px 40px 10px 30px;*/
  padding: 1em 4em 1em 3em;
}


nav {
	float: right;
}


a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: .7em;
  list-style-type: none;
  letter-spacing: .2em; 
	text-decoration: none;
	color: black;
}


h1 {
	  font-family: 'Work Sans', sans-serif;
  	font-weight: 300;
  	font-size: 3.1em;
  	line-height: 130%;
    color: white;
    letter-spacing: -.03em;
}
h2 {
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
    line-height: 120%;
    letter-spacing: -.2px;
    text-align: center;
    display: block;
}
h3 {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 120%;
}
h4 {
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: .2em;
    line-height: 160%;
}
h5 {
    color: #14416e;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    line-height: 170%;
    /*letter-spacing: .1em;*/
}
h6 {
    color: #14416e;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 150%;
}
p {
    font-family: 'Work Sans', sans-serif;
  	font-weight: 300;
  	font-size: 1em;
  	line-height: 150%;
}
ul {
    list-style-type:none;
    padding-top: 1em;
    color: #14416e;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 10%;
}
li {
    
    /*background:url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Check_mark_23x20_02.svg/1000px-Check_mark_23x20_02.svg.png) no-repeat;*/
    background:url(../assets/checkmark-icon.png) no-repeat;
    background-size:contain;
    margin-bottom:.7em;
    padding:1em;
}
hr {
  margin: 1em;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
#logo {
    width: 10em;
    float:left;
    display: block;
    padding-top: .4em;
}
.cta-button-style {
    border: 1px #00afec solid;
    padding: 10px;
    /*margin: 0px 30px 0px 0px;*/
    margin: 0 3em 0 0;
    color: #00afec;
    display: inline-block;
}
#cta:hover {
    background-color: #aaaaaa;
}
#splash {
    background-color: #00afec;
    text-align: center;
    padding: 1.4em 1em 18em 1em;
}
#greeting-pic {
    float: left;
    width:100%;
}
#open-laptop {
    width:70%;
    padding-top: 1.5em;
}
#welcome-msg {
    text-align: center;
}
.wrapper {
  width: 960px;
  margin: auto;
}
.wrapper2 {
  width: 1000px;
  margin: auto;
  padding-left: 4.7em;
  /*border: 3px orange solid;*/
}
#how-button {
    border: 1px black solid;
    color: black;
    margin-top: 2em;
}
#what {
    margin-top: 6em;
    border-bottom: 1px black solid;
    padding: 2em 0;
}
.text-info-container-l {
    /*border: 3px orange solid;*/
    width: 50%;
    float:left;
    padding-top: .2em;
}
#sad-lady {
    float: right;
    width: 48%;
}
#journaling { 
    width: 49%;
    float: left;
}
#text-info-container-r {
    /*border: 3px orange solid;*/
    width: 45%;
    float: right;
}
#why {
  border-bottom: 1px black solid;
  padding: 2em 0;
}
#how {
  padding: 1.5em 0 3em 0;
}
#orourke {
    width: 80%;
    display: block;
    margin: auto;
}
#million{
    width: 80%;
    display: block;
    margin: auto;
}
#walking {
    width: 45%;
    float: right;
}
#process {
    background-color: #9ddcf9;
    padding-top: 2em;
    /*border: 3px orange solid;*/

}
#process-chart {
    float: left;
    width: 23em;
    padding-top: .3em;
    margin-left: 3em;
}
#bullet-points {
    float: right;
    max-width: 24em;
    display: block;
    margin-right: 3em;
}
#more-script {
    width: 50%;
    padding-top: 3em;
    float: right;
}

#features {
    background-color: #14416e;
    /*padding-bottom: 10em;*/
    padding: 1.4em 1em 8em 0;
    /*text-align: center;*/
    /*border: 3px orange solid;*/
}
.content {
    float: left;
    /*border: 3px yellow solid;*/
    text-align: center;
    width: 10em;
    height: 12em;
    margin: 1.5em;
}
.pic {
    width: 70%;
    /*display: block;*/    
}
.title { 
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: .9em;
    line-height: 130%;
    color: #00afec;
}
.desc {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: .9em;
    line-height: 130%;
    color: #00afec;
}
#all-devices {
     display: block;
     width: 100%
}
#devices {
    float: left;
    width:95%;
    display: inline-block;
    /*clear: both;*/
    /*padding-top: 1.5em;*/
}
#testimonials {
    margin: auto;
   /* border: 1px red solid;*/
    width: 70%;
    clear: both;
    margin-top: 30em;

}

#testimony {
    width: 100%;
    display: block;
    margin: auto;
    
}
